body {
  background-repeat: repeat;
  background-size: 100px 100px;
  background-image: url("images/micro.jpg");
  text-align: center;
  font-family: 'Open sans';
}

h2 {
  font-weight: bold;
}

.container-fluid {
  border-style: dotted;
  border-width: 3px;
  border-radius: 10px;
  color: #646363;
  background-color: white;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
}

.content {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 2em;
  margin-bottom: 10%;
}

.info {
  margin-top: -2.5%;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links .link {
  flex-grow: 1;
}

.links .link a {
  font-size: 28px;
}

.picture {
  border-radius: 50%;
  border-width: 3px;
  border-style: dotted;
  border-color: white;
  border-radius: 50%;
  margin-top: -10.5%;
  margin-left: -50%;
  width: 150%;
}
