body {
  background-repeat: repeat;
  background-size: 100px;
  background-image: url("images/micro.jpg");
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

@font-face {
  font-family: starjedi;
  src: url('STJEDISE.TTF');
  font-weight: bold;
}

.card-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border-style: dotted;
  border-width: 3px;
  border-radius: 10px;
  color: #646363;
  background-color: white;
  display: flex;
  align-items: center;
  align-content: center;
  width: max-content;
  padding: 48px;
}

.picture {
  border-radius: 50%;
  border-width: 3px;
  border-style: dotted;
  border-color: white;
  border-radius: 50%;
  width: 300px;
  margin-left: -150px;
  margin-right: 32px;
}

h2 {
  font-family: starjedi;
  font-size: 2em;
  margin-bottom: 16px;
}

h4 {
  font-size: 1em;
  margin-bottom: 48px;
}

h5 {
  font-size: 0.8em;
}

.houseofdota {
  font-size: 0.6em;
  font-style: italic;
}

.info {
  min-width: 200px;
}

.email {
  margin-top: 40px;
  font-size: 0.8em;
}

.links {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links .link {
  flex-grow: 1;
}

.links .link a {
  font-size: 1.2em;
}

@media (max-width:840px) {
    .card {
      flex-direction: column;
      padding: 32px;
    }

    .picture {
      margin: 0;
      margin-top: -150px;
      margin-bottom: 16px;
    }
}

@media screen
  and (max-device-width: 840px) {
    body {
      background-size: 180px;
      font-size: 48px;
    }

    .card {
      flex-direction: column;
      border-width: 7.5px;
      width: 88%;
      padding: 32px;
    }

    .picture {
      width: 600px;
      border-width: 7.5px;
      margin: 0;
      margin-top: -250px;
    }

    .info {
      margin: 32px;
    }
}
